body {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.title {
  font-family: 'Fugaz One', cursive;
  margin: 10px;
}

.bottom-text {
  font-size: 12px;
  color: gray;
  font-style: italic;
}

/* Link container styling */
.flex-container {
  display: flex;
  margin-left: 1px; /* recenter the tiles because of removing fat borders. */
  margin-top: 1px; /* recenter the tiles because of removing fat borders. */
  flex-wrap: wrap;
  width: 240px;
  margin: 0 auto;
  font-family: 'Fugaz One', cursive;  
  -webkit-box-shadow: -1px 0px 5px 3px rgba(0,0,0,0.13);
  -moz-box-shadow: -1px 0px 5px 3px rgba(0,0,0,0.13);
  box-shadow: -1px 0px 5px 3px rgba(0,0,0,0.13);
}

/* Link element inside the container styling */
.flex-container a {
  background: #dc143c;
  font-size: 12px;
  flex: 1 0 30%;
  border: 2px outset white;
  width: 80px;
  height: 80px;
  line-height: 80px; /* Same as height so it centers the text vertically */
  text-align: center;
  margin-left: -1px; /* Remove fat borders between tiles */
  margin-top: -1px; /* Remove fat borders between tiles */
  text-decoration: none;
  /* background-color: #dc143c; */
  color: white;
  font-weight: 400;

  /* Fade in hover color */
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.flex-container a:hover {
  opacity: 0.7;
  color: white;
}

/* Smiley styling */
.sunglasses {
  height: 24px;
}

.sunglasses:hover {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1.2);
}
